header {
  position: relative;
}
.header-nav {
  @media screen  and (max-width: 767px) {
    padding: 16px 15px;
  }
  @media screen  and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  
}
.nav {
  display: flex;
  align-items: baseline;
  
}

.mob-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $common-bg-color;
}
.mob-menu-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  &:hover, &:focus {
    fill: $accent-color;
  }
  &.close {
    position: absolute;
    top: 21px;
    right: 25px;
  }
  @media screen  and (min-width: 768px) {
    display: none;
  }
}

.menu-list {
  
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    color: $secondary-text-color;
    text-decoration: none;
  }
  &__current {
    color: $accent-color;
  }
}

.menu-list-contact {
  
  &__link--mail {
    display: inline-block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
    cursor: pointer;
  }
  &__link--tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $main-text-color;
    cursor: pointer;
  }
}

.mob-menu-social {
  display: flex;
  margin-top: 64px;
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
    display: flex;
    &::after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      display: block;
      margin-left: 10px;
    }
  }

}




.nav-list {
  @media screen  and (max-width: 767px) {
    display: none;
  }
  @media screen  and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &__link {
      display: block;
      padding-top: 32px;
      color: $secondary-text-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: $transition-timing;
    }
    &__link:hover,
    &__link:focus {
      color: $accent-color;
    }
    &__current{
      color: $accent-color;
    }
    &__current::after {
      display: flex;
      content: '';
      margin-top: 28px;
      border-bottom: 4px solid $accent-color;
      border-radius: 2px;
  }
  }
  
}

.contact-list {
  @media screen  and (max-width: 767px) {
    display: none;
  }
  @media screen  and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    
  }
  @media screen  and (min-width: 1200px) {
    flex-direction: unset;
  }
    &__link {
      color: $main-text-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: $transition-timing;
    }
    @media screen  and (min-width: 768px) {
      &__item + &__item {
        margin-top: 10px;
      }
    }
    &__link:hover,
    &__link:focus {
      color: $accent-color;
    }
    @media screen  and (min-width: 1200px) {
      &__item:not(:last-child) {
        margin-right: 50px;
      }
      &__item + &__item {
        margin-top: unset;
      }
    }
    &__icon {
      fill: currentColor;
    }
  
  
}
