.hero {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 45px;
  @media screen  and (min-width: 768px) {
    padding-left: 189px;
    padding-right: 189px;
  }
  @media screen  and (min-width: 1200px) {
    height: 600px;
    padding: 200px 252px;
  
  }
  background-image: url(../images/mob/Header_x1.jpg),
  linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/mob/Header_x2.jpg),
    linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
}

  @media screen  and (min-width: 768px) {
    background-image: url(../images/tab/Header_х1.jpg),
  linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
    
  }
  @media screen  and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen  and (min-width: 768px) and (min-resolution: 192dpi),
  screen  and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url(../images/mob/Header_x2.jpg),
    linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
}
  @media screen  and (min-width: 1200px) {
    background-image: url(../images/desk/Header_x1.jpg),
  linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
    
  }
  @media screen  and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen  and (min-width: 1200px) and (min-resolution: 192dpi),
  screen  and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(../images/desk/header_x2.jpg),
    linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
}


    
  &__title {
    margin: 0 auto;
    margin-bottom: 30px;

    color: $common-bg-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen  and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 10px 32px;
}
